<template>
    <div class="columns">
        <div class="column content">
            <h3 class="title">Your order</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Qty</th>
                    <th></th>
                    <th></th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(product, index) in set">
                    <th>{{ index + 1 }}</th>
                    <td><strong>{{ product.name }}</strong>
                    </td>
                    <td>{{ pizzaTypeCount(product.id) }}</td>
                    <td>
                        <button @click="increment(product)" class="button is-small">
                            <span class="icon has-text-info">
                                <i class="fa fa-plus"></i>
                            </span>
                        </button>
                    </td>
                    <td>
                        <button @click="decrement(product)" class="button is-small">
                            <span class="icon has-text-info">
                                <i class="fa fa-minus"></i>
                            </span>
                        </button>
                    </td>
                    <td>
                        <input class="input is-hidden" type="number">
                        ${{ productsAmount(product) }}
                    </td>
                    <td>
                        <button @click="del(product)" class="button is-small">
                            <span class="icon has-text-info">
                                <i class="fa fa-trash"></i>
                            </span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="2">Delivery</td>
                    <td colspan="2">${{ delivery() }}</td>
                </tr><tr>
                    <td colspan="3"></td>
                    <td colspan="2">Total</td>
                    <td colspan="2">${{ total() }}</td>
                </tr>
                </tbody>

            </table>
            <div v-if="!valid && order.length === 0" class="notification is-danger">
                <strong>You didn't order anything!</strong>
            </div>
        </div>
        <div class="column content">
            <h3 class="title">Your details</h3>

            <form id="submittionForm" action="/test/123">
                <div class="field">
                    <label class="label">Full Name</label>
                    <div class="control has-icons-left has-icons-right">
                        <input required v-model="name" class="input" type="text" placeholder="Full Name">
                        <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                    </div>
                    <p v-if="!valid && !name" class="help is-danger">This field should be filled</p>
                </div>

                <div class="field">
                    <label class="label">Mobile Phone</label>
                    <div class="control has-icons-left has-icons-right">
                        <input required v-model="mobile" class="input" type="text" placeholder="Mobile Phone">
                        <span class="icon is-small is-left">
                        <i class="fa fa-mobile-phone"></i>
                    </span>
                    </div>
                    <p v-if="!valid && !mobile" class="help is-danger">This field should be filled</p>
                </div>

                <div class="field">
                    <label class="label">Delivery</label>
                    <div class="control">
                        <div class="select">
                            <select required v-model="distance">
                                <option v-bind:value="10">Distance 1km</option>
                                <option v-bind:value="20">Distance 2km</option>
                                <option v-bind:value="30">Distance 5km</option>
                                <option v-bind:value="40">Distance 10km</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                        <textarea v-model="message" class="textarea" placeholder="Textarea"></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button @click="submitOrder($event)" class="button is-link">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div v-bind:class="{ 'is-active': showModal }" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="notification" v-bind:class="modalClass">
                    <button @click="showModal = false" class="delete"></button>
                    {{ modalContent.content }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data () {
            return {
                distance: 10,
                name: '',
                mobile: '',
                message: '',
                valid: true,
                showModal: false,
                modalContent: {}
            }
        },
        computed:{
            count() {
                return this.$store.state.count
            },
            order() {
                return this.$store.state.order;
            },
            set() {
                let setObj = new Set();
                this.$store.state.set.forEach(function(elem){
                    setObj.add(JSON.parse(elem))
                });
                return setObj;
            },
            modalClass() {
                return {
                    'is-success': this.modalContent.class === 'success',
                    'is-danger': this.modalContent.class === 'error',

                }
            }

        },
        methods: {
            del(product) {
                this.$store.commit('delete', product);
            },
            increment(product) {
                this.$store.commit('increment', product);
            },
            decrement(product) {
                if (this.pizzaTypeCount(product.id) === 1) return;
                this.$store.commit('decrement', product)
            },
            pizzaTypeCount(id) {
                return this.$store.state.order.filter(pizza => pizza.id === id).length;
            },
            productsAmount(product) {
                return this.pizzaTypeCount(product.id) * product.price;
            },
            delivery() {
                return this.distance;
            },
            total() {
                let result = 0;
                this.$store.state.order.forEach(function (product) {
                    result += parseInt(product.price);
                });
                return result + parseInt(this.delivery());
            },
            appendModal(result) {
                if (result) {
                    this.$data.modalContent.content = 'Your order has been accepted!';
                    this.$data.modalContent.class = 'success';
                    this.$data.showModal = true;
                } else {
                    this.$data.modalContent.content =
                        'Oh no! Something gone wrong! Your order can\'t be processed now' ;
                    this.$data.modalContent.class = 'error';
                    this.$data.showModal = true;
                }

            },
            submitOrder (event) {
                event.preventDefault();
                let distance = '';
                switch (this.$data.distance) {
                    case 10:
                        distance =  "Distance 1km";
                        break;
                    case 20:
                        distance = "Distance 2km";
                        break;
                    case 30:
                        distance = "Distance 5km";
                        break;
                    case 40:
                        distance = "Distance 10km";
                        break;

                }
                
                if (!this.$data.name
                    || !this.$data.mobile
                    || this.$store.state.order.length === 0){
                    this.$data.valid = false;
                    return;
                }
                let wm = this;
                axios.post('/order', {
                    name: this.$data.name,
                    mobile: this.$data.mobile,
                    delivery: distance,
                    message: this.$data.message,
                    amount: this.total(),
                    order: this.$store.state.order
                })
                    .then(function (response) {
                        if (response.status === 200 && response.data === 1) {
                            wm.appendModal(true);
                        }

                    })
                    .catch(function (error) {
                        if (error) {
                            wm.appendModal(false);
                        }
                    });

            }
        }
    }
</script>
