<template>
    <div>
        <section class="hero is-medium is-primary is-bold">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        The best IT pizza you ever eat.
                    </h1>
                    <h2 class="subtitle">
                        Makes you brain like Einstain. True.
                    </h2>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {}
</script>
