<template>
    <div>
        <div class="columns mt-3">
            <div v-for="(pizza, index) in pizzas" v-if="index <= 3" class="column">

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/img/img1.jpg" alt="Pizza img">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <p class="title is-4">{{pizza.name}}</p>
                                <p class="subtitle is-6">${{pizza.price}}</p>
                            </div>
                        </div>

                        <div class="content">
                            {{pizza.description}}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" @click="addToCart(pizza)" class="card-footer-item">{{ pizzasInCart(pizza) }}</a>
                        <router-link to="/cart" class="card-footer-item">
                            Checkout
                        </router-link>
                    </footer>
                </div>
            </div>
        </div>

        <div class="columns">
            <div v-for="(pizza, index) in pizzas" v-if="index >= 4" class="column">

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/img/img1.jpg" alt="Pizza img">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <p class="title is-4">{{pizza.name}}</p>
                                <p class="subtitle is-6">${{pizza.price}}</p>
                            </div>
                        </div>

                        <div class="content">
                            {{pizza.description}}
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" @click="addToCart(pizza)" class="card-footer-item">{{ pizzasInCart(pizza) }}</a>
                        <router-link to="/cart" class="card-footer-item">
                            Checkout
                        </router-link>
                    </footer>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        data: function () {
            return {
                pizzas: []
            }
        },
        created: function (){
            axios.get('/pizzas').then(response => this.pizzas = response.data);
        },
        methods: {
            addToCart(pizza) {
                this.$store.state.order.push(pizza);
                this.$store.state.set.add(JSON.stringify(pizza));
            },
            pizzasInCart(product) {
                let cnt = this.$store.state.order.filter(pizza => pizza.id === product.id).length;
                if ( cnt === 0) return "Order";
                else {
                    return "In cart: " + cnt;
                }
            }
        }
    }
</script>
